@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #F8F6FE;
  --text-main: #1E1633;
  --pond-beings: #C2F4E7;
  --pond-colors: #D6C8FA;
  --pond-sounds: #FDE68A;
}

.dark {
  --bg-main: #0A0813;
  --text-main: #EBF1F5;
  --pond-beings: #1E3A34;
  --pond-colors: #2D224D;
  --pond-sounds: #4A3B18;
}

canvas {
  touch-action: none;
  -webkit-touch-callout: none;
}
